<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <% include partials/nav.ejs %> 
    
    <h1>Welcome to contact page</h1>

    <p><%= qs.dept %></p> 
    <% /* we had dept property and we'll output it */ %>
    <p><%= qs.person %></p> 

    <% /* to post html data to server we have to use body-parser middleware */ %>

    <form id="contact-form" method="POST" action="/contact"> <% /* we're posting to /contact route */ %>
        <label for="who">Who do you want to contact?</label> <br> 
        <input type="text" name="who" value="<%= qs.person %>"> <br> <% /* we can populate input fiels with a value from query strings */ %>

        <label for="department">Which department?</label> <br>
        <input type="text" name="department" value="<%= qs.dept %>"> <br>

        <label for="email">Your email</label> <br>
        <input type="text" name="email"> <br>

        <input type="submit" value="submit">
    </form>

</body>

<style>

#contact-form{
      display: grid;
      padding: 5% 30%;
}
</style>

</html>