<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
<% include partials/nav.ejs %>

<h3>You contacted <%=data.who%></h3>

<p>Department: <%=data.department%></p>

<p>We'll reply to you at: <%=data.email%></p>



</body>
</html>