<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <% include partials/nav.ejs %> 
    
    <% /* if we want to make changes to nav, we just to this file and make those changes */ %>

    <h1>Welcome to home page</h1>

</body>
</html>