$bodyBackground: whitesmoke;

body{
    background: $bodyBackground;
}

p{
    font-weight: bold;
    color: red;
}

#mathDiv{
width: 120px;
border: 2px dashed black;
background: #FFF;
padding-left: 20px;
}