
body{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    background:url("blackBackground.jpg");
}

h1{
    color: rgb(253, 246, 246);
}

span{
    color: rgb(245, 222, 25);
}
