<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='styles.css'/>
</head>
<body>

    <div id="app"></div>
    
    <div id="first"></div>
    <div id="second"></div>
    <div id="third"></div>
    <div id="final"></div>

    <style>
    body{
        margin: 0;
        overflow-x: hidden;
    }

    .liClass{
        float: left;
        padding-left: 40px;
        padding-top: 10px;
        list-style-type: none;
        cursor: pointer;
    }
    </style>

<script src="https://unpkg.com/react@16.0.0/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>

<script src="compiledCode/events.js"></script>

<!-- <script src="compiledCode/props.js"></script> -->
<!-- <script src="compiledCode/components.js"></script> -->

</body>

</html>