<nav>
    <ul>
        <li><a href="/">Home</a> 
        </li>
        <li><a href="/contact">Contact</a> 
        </li>
    </ul>
</nav>

<% /* since we have built express routes for home and contact we can access them when we click on anchor tag */ %>